body {
    background-color: #070720;
}

#contact-info {
    color: white;
    padding-left: 5px;
}

.img-ap {
    width: 140px;
    height: 70px;
}

#navbar-github {
    color: white;
}

#navbar-linkedin {
    color: white;
}

#navbar-login {
    color: white;
}

#btn-camera {
    color: black;
}

.btn-edit {
    color: white;
}

.fa-pen {
    color: white;
}

.fa-plus {
    color: white;
}

.fa-trash {
    color: white;
}

.mat-card {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: #0a66c2;
    background-color: #191937;
    color: white;
}

h2, h3 {
    color: white;
}

.mat-card#first-card {
    padding: 0;
}

#profile-background {
    display: flex;
    display:inline-block;
}

#profile-background img {
    width: 100%;
    border-radius: 32px 32px 0 0;
}

#profile-background a {
    position: absolute;
    margin-top: 50px;
    right: 2em;
    background-color: white;
    border-radius: 1.5em;
    padding: 0.5em 1em;
}

#edit-info {
    position: absolute;
    margin-top: -40px;
    right: 2em;
}

.profile-image {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
}

.btn-prfl-right {
    top: -30px;
    margin-left: 165px;
    position: relative;
}

div#info-actions {
    display: flex;
}

div#info-actions button {
    margin-right: 8px;
    margin-top: 10px;
}

div#info-cotact span {
    font-size: 1rem;
    font-weight: 400;
}

div#info-cotact span a {
    color: #0a66c2;
    touch-action: manipulation;
    text-decoration: none;
}

div#info-company {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
}

div#info-data {
    display: flex;
    justify-content: space-between;
}

div#info-data h1 {
    font-size: 1.8rem;
    display: inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: break-word;
}

ul#info-details {
    width: 400px;
    list-style: none;
    flex-shrink: 0;
}

ul#info-details li a {
    color: black;
    display: flex;
    text-decoration: none;
}

ul#info-details li a h2 {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    vertical-align: baseline;
}

ul#info-details li a img {
    width: 80x;
    height: 80px;
    margin-right: 8px;
}

ul.item-list {
    list-style: none inside;
}

ul.item-list li {
    display: flex;
    margin: 10px 0;
}

ul.item-list li div.data-container {
    flex-grow: 1;
}

.card-titles {
    border-color: transparent;
}

.education-details {
    padding-top: 15px;
}

.edu-date {
    font-weight: lighter;
}

.skills-details {
    padding-top: 20px;
}

.project-name {
    padding-left: 20px;
    color: blue;
}

.project-description {
    padding-left: 20px;
}

.items-list {
    list-style: none;
}

.logo-unv {
    border-radius: 5em;
    padding: 0.5em 0.5em;
}

.logo-eduexp {
    background-color: white;
    border-radius: 1em;
    padding: 2em 0.6em;
    width: 200px; 
    height: 150px;
}

#logo-unq {
    border-radius: 2em;
    padding: 0.5em 0.5em;
    width: 200px; 
    height: 150px;
}

#logo-unaj {
    border-radius: 2em;
    padding: 0.5em 0.5em;
    width: 200px; 
    height: 150px;
}

#logo-unlp {
    background-color: white;
    border-radius: 1em;
    padding: 0.2em 0.6em;
    width: 200px; 
    height: 150px;
}

.btn-secondary {
    background-color: #070720;
    margin-right: 1px;
    border-radius: 1.8em;
    padding: 1em 0.8em;
}

#text-about {
    font-size: 1.2em;
}

#text-footer {
    font-size: 1.2em;
    color: white;
}